.hidden {
    display: none;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navlinks {
    display: flex;
    list-style-type: none;
}
