.login {
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-message {
    margin-top: 10px;
    color: red;
}

.error {
    color: red;
    margin-top: 10px;
}
